{% extends "base.html" %}

{% block content %}
<div class="container mt-2 w-100 w-md-75 w-lg-50">
  <div align="center">
    <h1>Ваши чаты</h1>
  </div>
  <div class="row row-cols-1 gy-2">
    {% for chat in chats %}
      <div class="col">
        <div class="card">
          <div class="card-header p-1">
            <h5 class="card-title mb-0 ms-1">
              <img style="width: 2rem;" src="{{ chat.img }}" alt="chat image" class="rounded-circle me-1 other-click">
              {{ chat.name }}
            </h5>
          </div>
          <div class="card-body">
            <p class="card-text chat-last-message">{{ chat.last_msg }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}