{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row row-cols-4">
        <div class="col card">Колонка</div>
        <div class="col card">Колонка</div>
        <div class="col card">Колонка еще больше аааараоавыаырашуыьнкшсыуащышуафочу
            рафчлцуалщщфсьцрфщавыожяащдшкугчщоьцшщзокыгцшчйляыцщов3рв
            чщкр3цй7цьрсгьчбврв3щябоывц9й8лгяу23901</div>
        <div class="col card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
  </div>
</div>
{% endblock %}