{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      {% for blog in blogs %}
        <div class="col card shadow-sm p-0 border border-2 mb-1">
            <div class="card-header">
                <h5 card="card-title">
                    <img style="width: 8%;" src="{{ blog.avatar }}" alt="..." class="rounded-circle me-1">
                    {{ blog.text }}
                </h5>
            </div>
            <div class="card-body p-0">
                <img src="{{ blog.visual_content }}" alt="image of post" class="card-img">
            </div>
            <div class="card-footer">
                <a href="#">
                    <img style="width: 3%;"
                         src="{% if blog.liked %}https://cdn-icons-png.flaticon.com/512/2107/2107774.png
                              {% else %}https://cdn-icons-png.flaticon.com/512/2107/2107952.png{% endif %}"
                         alt="Like" class="me-1">
                </a>
            </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}