{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-2">
    {% if current_user.is_authenticated %}
        <a href="new_post" class="btn btn-secondary m-2">Новый пост</a>
    {% endif %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-1">
      {% for blog in blogs %}
        <div class="col card shadow-sm p-0 border border-2" onclick="onclickListener('{{blog.id}}');">
            <div class="card-header">
                <h5 card="card-title" style="margin-bottom: 0;">
                    <a href="/profile/{{ blog.user.id }}">
                    <img style="width: 2rem;" src="/avatar/{{ blog.user.id }}" alt="..." class="rounded-circle me-1 other-click">
                        </a>
                    {{ blog.text }}
                </h5>
            </div>

            <div class="card-body p-0" >
                <img src="/post_image/{{ blog.id }}" alt="image of post" class="card-img" >
            </div>

            <div class="card-footer">
                <a class="other-click" onclick="changeLikedOfBlog({{ blog.id }})">
                    <img style="width: 1rem;"
                         src="{% if blog.liked|check_like_post %}https://cdn-icons-png.flaticon.com/512/2107/2107774.png
                              {% else %}https://cdn-icons-png.flaticon.com/512/2107/2107952.png{% endif %}"
                         alt="Like" class="me-1 like-img other-click" id="like-img-{{ blog.id }}" liked="{{ blog.liked|check_like_post }}">
                </a>
            </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}