{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="col-8 border border-1 p-1">
        <h1 align="center">Новый пост</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p class="mb-0">
                {{ form.text.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.text(class="form-control") }}<br>
                {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>

            <p>
                {{ form.file(class="form-control", id="formFile") }}
            </p>
            <div id="previewFile" align="center">
                <p>No files currently selected for upload</p>
            </div>
            <p>
                {{ form.submit(type="submit", class="btn btn-primary container-fluid") }}
                <a class="h5 text-decoration-none text-danger align-middle ms-2">{{message}}</a>
            </p>

        </form>
    </div>
</div>
<script src="/static/js/script_form_files.js"></script>
{% endblock %}