{% extends "base.html" %}

{% block head_html %}
<script>
    function changeLikedOfBlog(i) {
        cur_blog = document.getElementById("like-img-" + i);
        if (cur_blog.getAttribute('liked') == "True") {
            cur_blog.src = "https://cdn-icons-png.flaticon.com/512/2107/2107952.png";
            cur_blog.setAttribute("liked", "False");
        } else {
            cur_blog.src = "https://cdn-icons-png.flaticon.com/512/2107/2107774.png";
            cur_blog.setAttribute("liked", "True");
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row row-cols-4">
        <div class="col-12 col-md-5 card shadow-sm p-0 border border-2 h-50">
            <div class="card-header">
                <h5 card="card-title" style="margin-bottom: 0;">
                    <img style="width: 2rem;" src="{{ blog.avatar }}" alt="..." class="rounded-circle me-1 other-click">
                    {{ blog.text }}
                </h5>
            </div>
            <div class="card-body p-0">
                <img src="{{ blog.visual_content }}" alt="image of post" class="card-img">
            </div>
            <div class="card-footer">
                <a onclick="changeLikedOfBlog({{ blog.id }})" class="other-click">
                    <img style="width: 1rem;"
                         src="{% if blog.liked|check_like_post %}https://cdn-icons-png.flaticon.com/512/2107/2107774.png
                              {% else %}https://cdn-icons-png.flaticon.com/512/2107/2107952.png{% endif %}"
                         alt="Like" class="me-1 like-img other-click" id="like-img-{{ blog.id }}" liked="{{ blog.liked|check_like_post }}">
                </a>
            </div>
        </div>
      {% if recommend %}
          <div class="col-12 col-md-6 border border-1 ms-md-3 mt-2 mt-md-0 mb-2 mb-md-3">
              <h3 align="center" class="mt-2">Recommendations</h3>
              <ul class="list-group mb-0 mb-md-1">
                  {% for i in recommend %}
                  <li class="list-group-item card shadow-sm p-0 border border-1 mb-1" onclick="onclickListener('{{i.id}}');">
                      <div class="card-header">
                          <h5 card="card-title" style="margin-bottom: 0;">
                              <img style="width: 2rem;" src="/avatar/{{ i.user.id }}" alt="..." class="rounded-circle me-1 other-click">
                              {{ i.text }}
                          </h5>
                      </div>
                      <div class="card-body p-0">
                          <img src="/post_image/{{ i.id }}" alt="image of post" class="card-img">
                      </div>
                      <div class="card-footer">
                          <a onclick="changeLikedOfBlog({{ i.id }})" class="other-click">
                              <img style="width: 1rem;"
                                   src="{% if i.liked|check_like_post %}https://cdn-icons-png.flaticon.com/512/2107/2107774.png
                                         {% else %}https://cdn-icons-png.flaticon.com/512/2107/2107952.png{% endif %}"
                                   alt="Like" class="me-1 like-img other-click" id="like-img-{{ i.id }}" liked="{{ i.liked|check_like_post }}">
                          </a>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      {% endif %}
  </div>
</div>
{% endblock %}