{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-2" align="center">
      <div class="col-12 col-md-10 col-lg-8 card shadow-sm p-0 border border-2">
          <div class="card-header">
              <h5 card="card-title" class="float-start" style="margin-bottom: 0;">
                  <img style="width: 3rem;" src="/avatar/{{ user.id }}" alt="..." class="rounded-circle me-1 other-click">
                  {{ user.surname}} {{ user.name }}
              </h5>
              {% if current_user.id == user.id %}
                <a href="/logout" class="text-decoration-none float-end h6">Log out</a>
              {% endif %}
          </div>
          <div class="card-body p-2">
            <div class="card-text">
              <figure>
                  <blockquote class="blockquote">
                      <p>{{ current_user.about }}</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                      User <cite title="Source Title">{{current_user.surname}} {{ current_user.name }}</cite>
                  </figcaption>
              </figure>
            </div>
          </div>
          <ul class="list-group list-group-flush">
              {% if recommend %}
                <li class="list-group-item">
                    <div class="border border-1 ms-md-3 mt-2 mt-md-0">
                      <h3 align="center" class="mt-2">User Blogs</h3>
                      <div class="container row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-1 mb-1 mb-md-2">
                          {% for i in recommend %}
                          <div class="col card shadow-sm p-0 border border-1" onclick="onclickListener('{{i.id}}');">
                              <div class="card-header">
                                  <h5 card="card-title" style="margin-bottom: 0;">
                                      <img style="width: 2rem;" src="/avatar/{{ i.user.id }}" alt="..." class="rounded-circle me-1 other-click">
                                      {{ i.text }}
                                  </h5>
                              </div>
                              <div class="card-body p-0">
                                  <img src="/post_image/{{ i.id }}" alt="image of post" class="card-img">
                              </div>
                              <div class="card-footer">
                                  <a onclick="changeLikedOfBlog({{ i.id }})" class="other-click float-start">
                                      <img style="width: 1rem;"
                                           src="{% if i.liked|check_like_post %}https://cdn-icons-png.flaticon.com/512/2107/2107774.png
                                                 {% else %}https://cdn-icons-png.flaticon.com/512/2107/2107952.png{% endif %}"
                                           alt="Like" class="me-1 like-img other-click" id="like-img-{{ i.id }}" liked="{{ i.liked|check_like_post }}">
                                  </a>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                    </div>
                </li>
              {% else %}
                  <li class="list-group-item">
                      <h3 align="center" class="mt-2">Empty</h3>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</div>
{% endblock %}