{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="col-8 border border-1 p-1">
        <h1 align="center">Регистрация</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p class="mb-0">
                {{ form.email.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.name.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.surname.label(class="ms-1") }}<br>
                {{ form.surname(class="form-control") }}<br>
                {% for error in form.surname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.username.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.username(class="form-control") }}<br>
                {% for error in form.username.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.password.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.password_again.label(class="ms-1") }} <a class="text-decoration-none text-danger">*</a><br>
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="mb-0">
                {{ form.about.label(class="ms-1") }}<br>
                {{ form.about(class="form-control") }}<br>
                {% for error in form.about.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.avatar(class="form-control", id="formFile") }}
            </p>
            <div id="previewFile" align="center">
                <p>No files currently selected for upload</p>
            </div>
            <p>
                {{ form.submit(type="submit", class="btn btn-primary container-fluid") }}
                <a class="h5 text-decoration-none text-danger align-middle ms-2">{{message}}</a>
            </p>

        </form>
    </div>
</div>
<script src="/static/js/script_form_files.js"></script>
{% endblock %}